* {
  margin: 0;
  padding: 0;
  color: #ebe9e9;
}

nav {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 58rem;
  align-items: center;
}

#buttons {
  display: flex;
  gap: 3rem;
}
