body {
  background-color: #1e1e1e;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.brayanLogo {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 1.5rem 1.5rem 0;
  width: 4rem;
  cursor: pointer;
}
